<%= form_with model: @animal, local: true do |f| %>
  <% if @animal.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4>
        <%= pluralize(@animal.errors.count, "error") %>:
      </h4>
      <ul>
        <% @animal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.label :photo %><br>
        <%= f.file_field :photo %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <%= f.label :animal_type_id %>
        <%= f.collection_select :animal_type_id,
                                AnimalType.all,
                                :id,
                                :name,
                                {},
                                {class: 'form-control'} %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <%= f.label :date_of_birth %>
        <%= f.date_field :date_of_birth, class: 'form-control' %>
      </div>
    </div>
  </div>
  <%= link_to 'Back', animals_path, class: 'btn btn-secondary' %>
  <%= f.submit 'Save pet', class: 'btn btn-success' %>
<% end %>
