<h1 class="font-semibold text-4xl text-gray-700 my-8">
  Pets for adoption
</h1>
<ul id="animals-list">
  <% @animals.each do |animal| %>
    <li class="card-item">
      <%= link_to animal_path(animal) do %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= animal.name %></h5>
            <h6 class="card-subtitle"><%= animal.animal_type.name %></h6>
            <br>
            <%= link_to 'Mark as adopted', new_animal_adoption_path(animal), class: 'btn btn-success' %>
            <%= link_to 'Edit', edit_animal_path(animal), class: 'btn btn-info' %>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
