<%- content_for(:page_title, 'Pets for adoption') %>
<h1>Pets for adoption</h1>
<ul id="animals-list">
  <% @animals.each do |animal| %>
    <li class="animal-item">
      <div class="card">
        <% if animal.photo.attached? %>
          <%= link_to animal_path(animal) do %>
            <%= image_tag animal.photo, class: 'card-img-top animal-image' %>
          <% end %>
        <% end %>
        <div class="card-body animal-container">
          <%= link_to animal_path(animal) do %>
            <h5 class="card-title"><%= animal.name %></h5>
            <h6 class="card-subtitle text-muted"><%= animal.animal_type.name %></h6>
          <% end %>
          <div class="animal-actions">
            <%= link_to 'Mark as adopted', new_animal_adoption_path(animal), class: 'btn btn-success' %>
            <%= link_to 'Edit', edit_animal_path(animal), class: 'btn btn-info' %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
